html {
    color: fuchsia;
}

/*
body {
    color: blue;
    background-color: darkorange
    
}
*/

a {
    color: crimson;
}

h1 {
    color: green;
    font-family: "arial";
}

.guchi {
    background-color: aqua
}

h2 {
    font-family: monospace;
    font font-weight: 500
}

#special-paragraph {
    color: 0000FF;
}

p {
    color: darkgoldenrod;
    font-size: 12pt;
    background-color: antiquewhite;
}
